body {
    font-family: Helvetica, Arial, sans-serif;
    background: white;
    margin: 0;
    display: grid;
    align-content: center;
    min-height: 100vh;     
    
}

h1 {
    font-size:48px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    color: black;
    max-width: 30em;
    margin: auto;
}

ul {
    text-align: left;
    margin: auto;
    padding: 0;
}

a {
    color:lightcoral
}