
/* GLOBAL RESETS */
* { box-sizing: border-box; }

// VARIABLES
$color-text-body: rgba(0,0,0,.8);
$color-text-headings: rgba(0,0,0,1);
$color-accent: rgb(87, 160, 255);
$color-accent-dark: rgba(242, 127, 122, 1);
$color-accent-light: rgba(240, 177, 170, 1);
$color-link: rgb(142, 223, 255);
$color-background: linear-gradient(to bottom right, #E1BEE7, #B2EBF2);



$color-lightgrey: rgba(0,0,0,.5);

$font-family-sans: 'Omnes', 'new-hero', Arial, sans-serif;
$font-family-serif: 'Bookmania', 'Times New Roman', Times, serif;

// BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

// IMPORTS
@import "partials/toc";
@import "partials/typography";
@import "partials/buttons";
@import "partials/media"; 
@import "partials/layout";   
@import "partials/grid";   
@import "partials/structure";  
@import "partials/sitenav";  
@import "partials/animations";   
@import "partials/helpers";
